<div id="all">
	<div id="fade"></div>

	<div id="free">
		<div x-mojo-element="CardStack" id="free1"></div>
		<div x-mojo-element="CardStack" id="free2"></div>
		<div x-mojo-element="CardStack" id="free3"></div>
		<div x-mojo-element="CardStack" id="free4"></div>
	</div>

	<div id="foundation">
		<div	x-mojo-element="CardStack" id="foundation1"	></div>
		<div	x-mojo-element="CardStack" id="foundation2"	></div>
		<div	x-mojo-element="CardStack" id="foundation3"	></div>
		<div	x-mojo-element="CardStack" id="foundation4"	></div>
	</div>

	<div id="tableau">
		<div	x-mojo-element="CardStack" id="tableau1"	></div>
		<div	x-mojo-element="CardStack" id="tableau2"	></div>
		<div	x-mojo-element="CardStack" id="tableau3"	></div>
		<div	x-mojo-element="CardStack" id="tableau4"	></div>
		<div	x-mojo-element="CardStack" id="tableau5"	></div>
		<div	x-mojo-element="CardStack" id="tableau6"	></div>
		<div	x-mojo-element="CardStack" id="tableau7"	></div>
		<div	x-mojo-element="CardStack" id="tableau8"	></div>
	</div>
</div>

<div id="status"></div>

