<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon app"></div>
		<div class="title"><span class="translate">How to Play</span></div>
	</div>
</div>

<div id="freecell" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundations
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The playing field is split into 3 areas.  The 4 cells on the top left
		are the free cells that give the game it's name.  The 4 cells on the top
		right are the foundations.  The rest are the tableaus.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The game is started by dealing one deck to the tableaus, with all cards
		face up.
		<br/><br/>

		Sequences can be built in the tableaus by building down by alternate
		color.  An empty tableau may be filled with any card.
		<br/><br/>

		Any one card may be placed in each free cell as a temporary storage area.
		<br/><br/>

		The foundations are built up, starting with ace in suit.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Moving Cards</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The number of cards that can be moved as a sequence is limited by the
		number of empty tableaus and free cells.  A sequence may only be moved
		if it is possible to perform the same move one card at a time.
	</div>


	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Relaxed FreeCell removes the restriction on the number of cards that can
		be moved in a sequence to make the game easier.
		<br/><br/>

		Baker's Game is exactly like FreeCell, except that sequences in the
		tableaus are built in suit instead of by alternating colors.
		<br/><br/>

		ForeCell is exactly like FreeCell, except that the last four cards of
		the deck are dealt to the free cells, and an empty tableau may only be
		filled by a king.
		<br/><br/>

		Challenge FreeCell attempts to make the game more difficult by taking
		the aces and duces out of the deck before the shuffle and dealing them
		first.
		<br/><br/>

		Super Challenge FreeCell is exactly the same as Challenge FreeCell
		except that it also adds the rule that an empty tableau may only be
		filled by a king.
	</div>
</div>

<div id="klondike" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundations
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The 4 cells on the top right are the foundations.  28 cards are dealt to
		the tableaus, and the remaining cards are left in the deck and placed in
		the top left corner.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Sequences can be built in the tableaus by building down by alternate
		color.  An empty tableau may be filled with a king.
		<br/><br/>

		The foundations are built up, starting with ace in suit.
		<br/><br/>

		Tapping on the deck will flip a card and place it in a pile next to the
		deck called the waste.  The top card of the waste may be played on the
		foundations or the tableaus.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		In Draw 3 Klondike tapping on the deck will will deal 3 cards to the
		waste instead of just one.
		<br/><br/>

		In Thoughtful Klondike all cards dealt to the tableaus are face up.
		<br/><br/>

		Westcliff uses 10 tableaus, allows any card to be played on an emtpy
		space and does not allow any redeals.  Westcliff also prohibits moving
		cards out of the foundations.
	</div>
</div>

<div id="spider" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundations
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		54 cards are dealt from 2 decks to 10 tableaus, with the top card of
		each face up.  The remaining cards are left in the deck and placed in
		the top left corner.
		<br/><br/>

		Sequence in the tableaus can be built down by rank regardless of suit.
		Cards may be moved as a sequence if they are all of the same suit.  An
		empty tableau may be filled with any card.
		<br/><br/>

		When a sequence of 13 cards of the same suit (from king to ace) is built
		it may be moved to the foundation.
		<br/><br/>

		Tapping on the deck will deal one card to each tableau.  If there are
		any empty tableaus then they must be filled before additional cards can
		be dealt form the deck.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		In order to make the game easier it may be played with 1 or 2 suits.
		The total number of cards is not changed.
		<br/><br/>

		Spiderette uses the exact same rules, but with 1 deck and 7 tableaus.
		Each tableau is dealt one more than the one before.
		<br/><br/>

		Relaxed mode allows moving a stack of cards as long as they are all the
		same color.  Easy mode goes one step further and allows moving any stack
		of cards regardless of their color or suit.
	</div>
</div>

<div id="golf" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the waste
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The game is started by dealing 35 cards to 7 tableaus, all face up.  The
		deck is placed in the top left corner, and one card is flipped to the
		waste.
		<br /><br />

		The top card of any tableau may be played on the waste if it's rank is
		one above or below the rank of the top card in the waste.
		<br /><br />

		Tapping on the deck will flip one card and play it on the waste.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Relaxed Golf allows cards to wrap, meaing that an ace may be played on a
		king, and a king may be played on an ace.
		<br /><br/>

		Dead King Golf does not allow any card to be played on a king.
	</div>
</div>

<div id="acesup" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Discard as many cards as possible.  In a perfect game all cards except
		the 1 aces will be discarded, thus the name.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The game is started by dealing 1 card face up to each of the 4 tableaus.
		The top card of a tableau may be discarded if it has a lower rank than
		another visible card of the same suit.
		<br /><br />

		The top card of a tableau may be moved to any empty tableau.
		<br /><br />

		Tapping on the deck will deal 1 card face up to each tableau.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		In order to make the game easier it may be played with 1 or 2 suits.
		The total number of cards is not changed.
		<br/><br/>
	</div>
</div>

<div id="canfield" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundations
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The game is started by dealing 13 cards to the reserve, 1 card face up
		to each tableau, and 1 card to the foundation.  The remaining cards are
		left in the deck.
		<br /><br />

		The 1 card that was played to the foundation sets the starting rank for
		the game.  The first card dealt to the 3 remaining foundations must
		match the rank of the first automatic card.  The background of the
		foundation will be highlighted to show what card to play.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Sequences can be built in the tableaus by building down by alternate
		color.
		<br/><br/>

		The foundations are built up by suit.  The starting card is determined
		by the rank of the card that is automatically dealt to the foundation at
		the begining of the game.
		<br/><br/>

		Tapping the deck will flip 3 cards and place them face up in a pile next
		to the deck called the waste.  The top card of the waste may be played
		on the foundations or the tableaus.
		<br/><br/>

		The 13 cards below the deck make up the reserve.  The top card of the
		reserve may be played to the foundations or the tableaus.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Scoring</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div>
		The game is started by buying a deck for $52.  Ever card placed into the
		foundation earns you $5.  Since one card is automatically placed in the
		founcation when the game is dealt you begin each game with $-47.
	</div>
</div>

<div id="pyramid" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundation in pairs that add up to 13.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The cards are dealt to the tableau in 7 rows, starting with a single
		card and increasing by one card for each row.  Each row overlaps the one
		before it, so only the cards in the last row can be used at the start of
		the game.
		<br /><br />

		The remaining cards are left in the deck, and may be flipped one at a
		time to the waste.  The top card in the deck and the top card in the
		waste may be played at any time.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Drag any exposed card to another where the rank of the 2 cards adds to
		a total of 13, and the 2 cards will be moved to the foundation.  Since a
		king has a value of 13 it can be placed in the foundation on it's own.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Double Pyramid uses 2 decks to make a pyramid with 9 rows.
		<br /><br />

		In the relaxed variant a card can be dragged to one below it, if no
		other card overlaps it.  The relaxed variant only requires clearing the
		pyramid to win, instead of clearing all cards.
	</div>
</div>

<div id="gaps" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Sort the cards into sets of 12 cards ascending by suit from 2 to king.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		The cards are shuffled, then dealt into 4 equal rows with 13 cards each.
		The aces are then removed leaving 4 gaps.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		A card may be moved to a gap if it is the same suit and one greater in
		rank as the card to the left of the gap.  The left most card must be
		filled with a 2.
		<br /><br />

		A gap can not be filled if it is to the right of a king because no card
		has a higher rank than a king.
		<br /><br />

		When there are no moves remaining you may shuffle all cards that are not
		in sequence.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		In Gaps (also known as Montana) you may shuffle the out of sequence
		cards twice and the gap will be placed directly after any cards in
		sequence.
		<br /><br />

		Addiction is exactly the same as Gaps, except that it allows 3 shuffles
		instead of 2.
		<br /><br />

		Spaces is exactly the same as Gaps, except that the gaps are placed
		randomly, making it more difficult.
		<br /><br />

		Relaxed Gaps and Relaxed Spaces allow unlimited shuffles.
	</div>
</div>

<div id="yukon" style="display: none;">
	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Goal</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Move all cards to the foundations
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Layout</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Foundations are built up in suit from ace to king.  Cards can not be
		moved out of the foundations.
		<br /><br />

		Tableaus are built up by alternating colors.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Rules</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		Any face up card can be moved from one tableau to another with all cards
		on top of it, even if they are not in sequence.  Only a king can be
		placed on an empty stack.
	</div>

	<table class="palm-divider labeled"><tr>
		<td class="left"></td>
		<td class="label">Variants</td>
		<td class="line"></td>
		<td class="right"></td>
	</tr></table>

	<div class="palm-body-text">
		In Relaxed Yukon you are allowed to remove cards from the foundation.
		<br /><br />

		Russian Solitaire is just like Yukon, except the tableaus build down by
		suit instead of alternating colors.
		<br /><br />

		Alaska is just like Russian Solitaire, except the tableaus build up or
		down by suit.
		<br /><br />

		Moose Hide is just like Yukon, except that the tableaus build down by
		any suit that does not match.
	</div>
</div>

