<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon app"></div>
		<div class="title"><span class="translate">Expired</span></div>
	</div>
</div>

<table class="palm-divider labeled"><tr>
	<td class="left"></td>
	<td class="label">Version <span class="version">...</span></td>
	<td class="line"></td>
	<td class="right"></td>
</tr></table>

<div class="palm-body-text">
	Sorry, this beta has expired.
	<br /><br/>

	<a href="http://developer.palm.com/webChannel/index.php?packageid=net.minego.solitaire">Try the full version</a>
	<br /><br/>

	<a href="mailto:support@minego.net?subject=solitaire">EMail Support</a>
</div>

