<div id="all">
	<div id="fade"></div>

	<div id="tableau">
		<div id="row1" class="row">
			<div x-mojo-element="CardStack" class="column1"		id="tableau1"	></div>
			<div x-mojo-element="CardStack" class="column2"		id="tableau2"	></div>
			<div x-mojo-element="CardStack" class="column3"		id="tableau3"	></div>
			<div x-mojo-element="CardStack" class="column4"		id="tableau4"	></div>
			<div x-mojo-element="CardStack" class="column5"		id="tableau5"	></div>
			<div x-mojo-element="CardStack" class="column6"		id="tableau6"	></div>
			<div x-mojo-element="CardStack" class="column7"		id="tableau7"	></div>
			<div x-mojo-element="CardStack" class="column8"		id="tableau8"	></div>
			<div x-mojo-element="CardStack" class="column9"		id="tableau9"	></div>
			<div x-mojo-element="CardStack" class="column10"	id="tableau10"	></div>
			<div x-mojo-element="CardStack" class="column11"	id="tableau11"	></div>
			<div x-mojo-element="CardStack" class="column12"	id="tableau12"	></div>
			<div x-mojo-element="CardStack" class="column13"	id="tableau13"	></div>
		</div>
		<div id="row2" class="row">
			<div x-mojo-element="CardStack" class="column1"		id="tableau14"	></div>
			<div x-mojo-element="CardStack" class="column2"		id="tableau15"	></div>
			<div x-mojo-element="CardStack" class="column3"		id="tableau16"	></div>
			<div x-mojo-element="CardStack" class="column4"		id="tableau17"	></div>
			<div x-mojo-element="CardStack" class="column5"		id="tableau18"	></div>
			<div x-mojo-element="CardStack" class="column6"		id="tableau19"	></div>
			<div x-mojo-element="CardStack" class="column7"		id="tableau20"	></div>
			<div x-mojo-element="CardStack" class="column8"		id="tableau21"	></div>
			<div x-mojo-element="CardStack" class="column9"		id="tableau22"	></div>
			<div x-mojo-element="CardStack" class="column10"	id="tableau23"	></div>
			<div x-mojo-element="CardStack" class="column11"	id="tableau24"	></div>
			<div x-mojo-element="CardStack" class="column12"	id="tableau25"	></div>
			<div x-mojo-element="CardStack" class="column13"	id="tableau26"	></div>
		</div>
		<div id="row3" class="row">
			<div x-mojo-element="CardStack" class="column1"		id="tableau27"	></div>
			<div x-mojo-element="CardStack" class="column2"		id="tableau28"	></div>
			<div x-mojo-element="CardStack" class="column3"		id="tableau29"	></div>
			<div x-mojo-element="CardStack" class="column4"		id="tableau30"	></div>
			<div x-mojo-element="CardStack" class="column5"		id="tableau31"	></div>
			<div x-mojo-element="CardStack" class="column6"		id="tableau32"	></div>
			<div x-mojo-element="CardStack" class="column7"		id="tableau33"	></div>
			<div x-mojo-element="CardStack" class="column8"		id="tableau34"	></div>
			<div x-mojo-element="CardStack" class="column9"		id="tableau35"	></div>
			<div x-mojo-element="CardStack" class="column10"	id="tableau36"	></div>
			<div x-mojo-element="CardStack" class="column11"	id="tableau37"	></div>
			<div x-mojo-element="CardStack" class="column12"	id="tableau38"	></div>
			<div x-mojo-element="CardStack" class="column13"	id="tableau39"	></div>
		</div>
		<div id="row4" class="row">
			<div x-mojo-element="CardStack" class="column1"		id="tableau40"	></div>
			<div x-mojo-element="CardStack" class="column2"		id="tableau41"	></div>
			<div x-mojo-element="CardStack" class="column3"		id="tableau42"	></div>
			<div x-mojo-element="CardStack" class="column4"		id="tableau43"	></div>
			<div x-mojo-element="CardStack" class="column5"		id="tableau44"	></div>
			<div x-mojo-element="CardStack" class="column6"		id="tableau45"	></div>
			<div x-mojo-element="CardStack" class="column7"		id="tableau46"	></div>
			<div x-mojo-element="CardStack" class="column8"		id="tableau47"	></div>
			<div x-mojo-element="CardStack" class="column9"		id="tableau48"	></div>
			<div x-mojo-element="CardStack" class="column10"	id="tableau49"	></div>
			<div x-mojo-element="CardStack" class="column11"	id="tableau50"	></div>
			<div x-mojo-element="CardStack" class="column12"	id="tableau51"	></div>
			<div x-mojo-element="CardStack" class="column13"	id="tableau52"	></div>
		</div>
	</div>
</div>

<div id="status"></div>

