<div id="all">
	<div id="fade"></div>

	<div		x-mojo-element="CardStack" id="deck"		></div>
	<div		x-mojo-element="CardStack" id="waste"		></div>
	<div		x-mojo-element="CardStack" id="foundation"	></div>

	<div id="tableau">
		<div	x-mojo-element="CardStack" class="row1" id="tableau1"	></div>
		<div	x-mojo-element="CardStack" class="row2" id="tableau2"	></div>
		<div	x-mojo-element="CardStack" class="row2" id="tableau3"	></div>
		<div	x-mojo-element="CardStack" class="row3" id="tableau4"	></div>
		<div	x-mojo-element="CardStack" class="row3" id="tableau5"	></div>
		<div	x-mojo-element="CardStack" class="row3" id="tableau6"	></div>
		<div	x-mojo-element="CardStack" class="row4" id="tableau7"	></div>
		<div	x-mojo-element="CardStack" class="row4" id="tableau8"	></div>
		<div	x-mojo-element="CardStack" class="row4" id="tableau9"	></div>
		<div	x-mojo-element="CardStack" class="row4" id="tableau10"	></div>
		<div	x-mojo-element="CardStack" class="row5" id="tableau11"	></div>
		<div	x-mojo-element="CardStack" class="row5" id="tableau12"	></div>
		<div	x-mojo-element="CardStack" class="row5" id="tableau13"	></div>
		<div	x-mojo-element="CardStack" class="row5" id="tableau14"	></div>
		<div	x-mojo-element="CardStack" class="row5" id="tableau15"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau16"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau17"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau18"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau19"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau20"	></div>
		<div	x-mojo-element="CardStack" class="row6" id="tableau21"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau22"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau23"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau24"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau25"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau26"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau27"	></div>
		<div	x-mojo-element="CardStack" class="row7" id="tableau28"	></div>
	</div>
</div>

<div id="status"></div>

