<div id="palm-disclaimer" class="beta" style="display: none; z-index: 99999;"></div>

<div class="palm-header left truncating-text" id="view-toggle">
	<div class="palm-header-wrapper">
		<div class="toggle-inlay">
			<div x-mojo-tap-highlight="immediate" class="toggle-last">
				<img src="images/header-icon-list-view.png" />
			</div>
			<div x-mojo-tap-highlight="immediate" class="toggle-first depressed">
				<img src="images/header-icon-grid-view.png" />
			</div>
		</div>

		<div class="translate">Choose a game</div>
	</div>
</div>

<div style="margin-top: 45px;">
	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="acesup">
		<div class="overlay"></div>
		<img src="images/preview/acesup.png" />
		<div class="title truncating-text">Aces Up</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="canfield">
		<div class="overlay"></div>
		<img src="images/preview/canfield.png" />
		<div class="title truncating-text">Canfield</div>
	</div>

	<div class="preview-item game-link" id="freecell">
		<div class="overlay"></div>
		<img src="images/preview/freecell.png" />
		<div class="title truncating-text">FreeCell</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="gaps">
		<div class="overlay"></div>
		<img src="images/preview/gaps.png" />
		<div class="title truncating-text">Montana</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="golf">
		<div class="overlay"></div>
		<img src="images/preview/golf.png" />
		<div class="title truncating-text">Golf</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="klondike">
		<div class="overlay"></div>
		<img src="images/preview/klondike.png" />
		<div class="title truncating-text">Klondike</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="pyramid">
		<div class="overlay"></div>
		<img src="images/preview/pyramid.png" />
		<div class="title truncating-text">Pyramid</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="spider">
		<div class="overlay"></div>
		<img src="images/preview/spider.png" />
		<div class="title truncating-text">Spider</div>
	</div>

	<div class="preview-item game-link" x-mojo-tap-highlight="momentary" id="yukon">
		<div class="overlay"></div>
		<img src="images/preview/yukon.png" />
		<div class="title truncating-text">Yukon</div>
	</div>
</div>

