/* Golf deck layout, basically klondike with no foundation */
#deck, #waste {
	position:				absolute;
	top:					5px;
}

.vert #tableau .CardStack {
	position:				absolute;
	top:					65px;
}

.horiz #tableau .CardStack {
	position:				absolute;
	top:					75px;
}

.leftdeck #deck,
.rightdeck #waste,
#tableau1 {
	left:					2%;
}

#waste,
#tableau2 {
	left:					15%;
}

#tableau3 {
	left:					29%;
}

#tableau4 {
	left:					43%;
}

#tableau5 {
	left:					57%;
}

#tableau6 {
	left:					71%;
}

.rightdeck #deck,
#tableau7 {
	left:					85%;
}


