/* spider with a klondike deck layout */
#deck, #foundation .CardStack {
	position:				absolute;
	top:					5px;
}

.vert #tableau .CardStack {
	position:				absolute;
	top:					65px;
}

.horiz #tableau .CardStack {
	position:				absolute;
	top:					75px;
}

.leftdeck #deck,
.rightdeck #foundation1,
#tableau1 {
	left:					2%;
}

.rightdeck #foundation2,
#tableau2 {
	left:					15%;
}

.rightdeck #foundation3,
#tableau3 {
	left:					29%;
}

.leftdeck #foundation1,
.rightdeck #foundation4,
#tableau4 {
	left:					43%;
}

.leftdeck #foundation2,
#tableau5 {
	left:					57%;
}

.leftdeck #foundation3,
#tableau6 {
	left:					71%;
}

.rightdeck #deck,
#foundation4,
#tableau7 {
	left:					85%;
}


