<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" id="title"></div>
	<div id="subtitle"></div>
	<div id="dealsleft"></div>
	<div class="palm-dialog-separator"></div>

	<div id="dealtype"	x-mojo-element="ListSelector"></div>
	<div id="gamenum"	x-mojo-element="TextField" style="display: none; height: 2em;"></div>

	<div class="palm-dialog-separator"></div>
	<div id="message"></div>
</div>

<div class="palm-dialog-buttons">
	<div x-mojo-element="Button" id="OkButton"			class="affirmative"	></div>
	<div x-mojo-element="Button" id="CancelButton"		class="dismiss"		></div>

	<div x-mojo-element="Button" id="StatsButton"		style="display: none;"></div>
	<div x-mojo-element="Button" id="ChooseGameButton"	style="display: none;"></div>
</div>

