<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon app"></div>
		<div class="title"><span class="appname">Solitaire</span></div>
	</div>
</div>

<table class="palm-divider labeled"><tr>
	<td class="left"></td>
	<td class="label">About</td>
	<td class="line"></td>
	<td class="right"></td>
</tr></table>

<div class="palm-body-text">
	<span class="appname">...</span><br/>
	Version <span class="version">...</span>
</div>

<div class="palm-body-text">
	<a href="mailto:support@minego.net?subject=solitaire">Email Support</a><br/>
	<a href="http://m.forums.precentral.net/solitaire-collection/">Visit Support Forums</a>
</div>

<div class="palm-body-text">
	<span class="translate">copyright</span>
	<span class="translate">copyrightHolder</span>
</div>

<table class="palm-divider labeled"><tr>
	<td class="left"></td>
	<td class="label">License</td>
	<td class="line"></td>
	<td class="right"></td>
</tr></table>

<div class="palm-body-text">
	THIS SOFTWARE IS PROVIDED BY THE AUTHOR &quot;AS IS&quot; AND ANY EXPRESS OR
	IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
	MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
	EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
	SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
	PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
	OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
	WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
	OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
	ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</div>

