<div id="palm-disclaimer" class="beta" style="display: none; z-index: 99999;"></div>

<div class="palm-header left truncating-text" id="view-toggle">
	<div class="palm-header-wrapper">
		<div class="toggle-inlay">
			<div x-mojo-tap-highlight="immediate" class="toggle-last depressed">
				<img src="images/header-icon-list-view.png" />
			</div>
			<div x-mojo-tap-highlight="immediate" class="toggle-first">
				<img src="images/header-icon-grid-view.png" />
			</div>
		</div>

		<div class="translate">Choose a game</div>
	</div>
</div>
<div class="palm-header-spacer" id="header-spacer" style="height: 45px;"></div>

<div x-mojo-element="FilterList" id="gamelist"></div>

